{% include "Header.html" %}


{% block body %}


<div class="panel=heading">

<h2>Add Employee <a class="pull-right btn btn-success" href="/">Back</a> </h2>

</div>



<div class="panel-body">

<form action="{{ url_for('procesemployee') }}" method="post">
<div class="form-group">

    <label for="name">Employee id</label>
    <input type="text" class="form-control" name="id" id="id" required = "1"  >

</div>



    <div class="form-group">

    <label for="name">Employee name</label>
    <input type="text" class="form-control" name="name" id="name" required = "1" >

</div>




        <div class="form-group">

    <label for="name">Employee post</label>
    <input type="text" class="form-control" name="post" id="post" required = "1"  >

</div>

<div class="form-group">

    <label for="name">Employee salary</label>
    <input type="text" class="form-control" name="salary" id="salary" required = "1"  >

</div>



    <div class="form-group">
        <input type="hidden" name="id" value="1">

     <input type="hidden" name="action" value="edit">
     <input type="submit" class="btn btn-success" name="submit" value="Add Employee">

</div>


</form>


</div>



{% endblock %}






{% include "footer.html" %}