<html>

<head>

    <title>Empolyee Management</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">


</head>

<body>


<h1><button type="button" class="btn btn-success  pull-left" data-toggle="modal" data-target="#myModal">Logged in : <strong>{{session.name}} | <a href="{{ url_for('logout') }}"> Logout</a></button></h1>


<div class="container">

    <div class="well text-center">

        <h1>Welcome To Employee Management System </h1>


    </div>
